In [ ]:
1.  Write a Python program that uses the HiveQL language to create a table named "Employees" with columns for "id," "name," and "salary."
from pyhive import hive

def create_hive_table():
    conn = hive.Connection(host='localhost', port=10000, username='your_username')
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS Employees (
            id INT,
            name STRING,
            salary FLOAT
        )
    """)
    cursor.close()
    conn.close()

create_hive_table()

In [ ]:
2.  Create a Python program that retrieves records from a Hive table named "Customers" where the age is greater than 30.
from pyhive import hive

def get_customers_above_30():
    conn = hive.Connection(host='localhost', port=10000, username='your_username')
    cursor = conn.cursor()
    cursor.execute("""
        SELECT * FROM Customers WHERE age > 30
    """)
    for row in cursor.fetchall():
        print(row)
    cursor.close()
    conn.close()

get_customers_above_30()

In [ ]:
3.  Write a Python script that sorts records in descending order based on the "timestamp" column in a Hive table named "Logs."
from pyhive import hive

def sort_logs_by_timestamp():
    conn = hive.Connection(host='localhost', port=10000, username='your_username')
    cursor = conn.cursor()
    cursor.execute("""
        SELECT * FROM Logs ORDER BY timestamp DESC
    """)
    for row in cursor.fetchall():
        print(row)
    cursor.close()
    conn.close()

sort_logs_by_timestamp()

In [ ]:
4.  Write a Python program that connects to a Hive server using PyHive library and retrieves all records from a table named "Products".
from pyhive import hive

def get_all_products():
    conn = hive.Connection(host='localhost', port=10000, username='your_username')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM Products")
    for row in cursor.fetchall():
        print(row)
    cursor.close()
    conn.close()

get_all_products()

In [ ]:
5.  Write a Python script that calculates the average salary of employees from a Hive table named "Employees".
from pyhive import hive

def calculate_average_salary():
    conn = hive.Connection(host='localhost', port=10000, username='your_username')
    cursor = conn.cursor()
    cursor.execute("SELECT AVG(salary) FROM Employees")
    average_salary = cursor.fetchone()[0]
    print(f"Average Salary: {average_salary}")
    cursor.close()
    conn.close()

calculate_average_salary()

In [ ]:
6.  Implement a Python program that uses Hive partitioning to create a partitioned table named "Sales_Data" based on the "year" and "month" columns.
from pyhive import hive

def create_partitioned_table():
    conn = hive.Connection(host='localhost', port=10000, username='your_username')
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS Sales_Data (
            id INT,
            amount FLOAT
        ) PARTITIONED BY (year INT, month INT)
    """)
    cursor.close()
    conn.close()

create_partitioned_table()

In [ ]:
7.  Develop a Python script that adds a new column named "email" of type string to an existing Hive table named "Employees."
from pyhive import hive

def add_email_column():
    conn = hive.Connection(host='localhost', port=10000, username='your_username')
    cursor = conn.cursor()
    cursor.execute("""
        ALTER TABLE Employees ADD COLUMNS (email STRING)
    """)
    cursor.close()
    conn.close()

add_email_column()

In [ ]:
8.  Create a Python program that performs an inner join between two Hive tables, "Orders" and "Customers," based on a common column.
from pyhive import hive

def inner_join_orders_customers():
    conn = hive.Connection(host='localhost', port=10000, username='your_username')
    cursor = conn.cursor()
    cursor.execute("""
        SELECT * FROM Orders o
        INNER JOIN Customers c
        ON o.customer_id = c.id
    """)
    for row in cursor.fetchall():
        print(row)
    cursor.close()
    conn.close()

inner_join_orders_customers()

In [ ]:
9.  Implement a Python program that uses the Hive SerDe library to process JSON data stored in a Hive table named "User_Activity_Logs."
from pyhive import hive

def create_json_table():
    conn = hive.Connection(host='localhost', port=10000, username='your_username')
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS User_Activity_Logs (
            user_id INT,
            activity STRING
        ) ROW FORMAT SERDE
        'org.apache.hive.hcatalog.data.JsonSerDe'
        STORED AS TEXTFILE
    """)
    cursor.close()
    conn.close()

create_json_table()