In [ ]:
Number Series

In [ ]:
Replace the ‘?’ mark with the term which can be logically related to the series:
1) 165,  195,  255,  285,  345,  ?
a) 375  b) 390  c) 420  d) 43
The pattern alternates between adding 30 and 60:
•	165 + 30 = 195
•	195 + 60 = 255
•	255 + 30 = 285
•	285 + 60 = 345
Therefore, the next number is:
345 + 30 = 375
Answer: a) 375

In [ ]:
2) 1,  2,  3,  6,  9,  18,  ?,  54
a) 18  b) 27  c) 36  d) 24
The pattern alternates between adding and multiplying:
•	1 + 1 = 2
•	2 + 1 = 3
•	3 × 2 = 6
•	6 + 3 = 9
•	9 × 2 = 18
Next:
18 + 3 = 27
Answer: b) 27

In [ ]:
3) 1,  2,  6,  7,  21,  22,  66,  67,  ?
a) 70  b) 134  c) 201  d) 301
The pattern alternates between multiplying by 3 and adding 1:
•	1 × 3 = 3 → but adding 1 gives 2
•	2 × 3 = 6
•	6 + 1 = 7
•	7 × 3 = 21
•	21 + 1 = 22
•	22 × 3 = 66
•	66 + 1 = 67
Therefore, the next number is:
67 × 3 = 201
Answer: c) 201

In [ ]:
4) 5,  6,  9,  15,  25,  ?
a) 36  b) 40  c) 37  d) 42
Each term is the sum of the previous two terms:
•	5 + 6 = 11
•	6 + 9 = 15
•	9 + 15 = 24
•	15 + 25 = 40
Therefore, the next number is:
Answer: b) 40

In [ ]:
5) 4,  9,  25,  ?,  121,  169
a) 49  b) 64  c) 81  d) 36
These are squares of prime numbers:
•	22=42^2 = 422=4
•	32=93^2 = 932=9
•	52=255^2 = 2552=25
•	Next: 72=497^2 = 4972=49
•	112=12111^2 = 121112=121
•	132=16913^2 = 169132=169
Therefore, the missing number is:
Answer: a) 49

In [ ]:
6) 1,  1,  4,  8,  9,  27,  16,  ?
a) 32  b) 81  c) 256  d) 64
The pattern alternates between powers of integers:
•	11=11^1 = 111=1
•	12=11^2 = 112=1
•	22=42^2 = 422=4
•	23=82^3 = 823=8
•	32=93^2 = 932=9
•	33=273^3 = 2733=27
•	42=164^2 = 1642=16
Next:
43=644^3 = 6443=64
Answer: d) 64

In [ ]:
7) 0.5,  0.55,  0.65,  0.8,  ?
a) 0.9  b) 1.05  c) 1  d) 0.95
The pattern adds increasing increments:
•	0.5+0.05=0.550.5 + 0.05 = 0.550.5+0.05=0.55
•	0.55+0.10=0.650.55 + 0.10 = 0.650.55+0.10=0.65
•	0.65+0.15=0.800.65 + 0.15 = 0.800.65+0.15=0.80
Next:
0.80+0.20=1.000.80 + 0.20 = 1.000.80+0.20=1.00
Answer: c) 1

In [ ]:
8) 563,  647,  479,  815,  ?
a) 672  b) 386  c) 279  d) 143
The pattern alternates between increasing and decreasing:
•	563+84=647563 + 84 = 647563+84=647
•	647−168=479647 - 168 = 479647−168=479
•	479+336=815479 + 336 = 815479+336=815
Next:
815−672=143815 - 672 = 143815−672=143
Answer: d) 143

In [ ]:
9) 2,  7,  9,  3,  8,  11,  4,  9,  13,  ?,  10,  15
a) 5  b) 14  c) 15  d) 8
The pattern alternates between two different series:
•	2, 9, 8, 4, 13, 10 → adding 1, subtracting 1 alternately
•	7, 3, 11, 9, ?, 15 → adding 4
Next:
9 + 4 = 14
Answer: b) 14

In [ ]:
10) 2,  8,  16,  128,  ?
a) 512  b) 1024  c) 2048  d) 4096
The pattern multiplies by powers of 2:
•	2×4=82 × 4 = 82×4=8
•	8×2=168 × 2 = 168×2=16
•	16×8=12816 × 8 = 12816×8=128
Next:
128×8=1024128 × 8 = 1024128×8=1024
Answer: b) 1024

In [ ]:
11) 1,  3,  7,  15,  ?
a) 24  b) 29  c) 31  d) 35
The pattern multiplies by 2 and adds 1:
•	1×2+1=31 × 2 + 1 = 31×2+1=3
•	3×2+1=73 × 2 + 1 = 73×2+1=7
•	7×2+1=157 × 2 + 1 = 157×2+1=15
Next:
15×2+1=3115 × 2 + 1 = 3115×2+1=31
Answer: c) 31

In [ ]:
12) 7 ,  28 ,  63 ,  126 ,  215 ,  ?
a) 344  b) 328  c) 363  d) 342
The differences between the terms increase by consecutive odd numbers:
•	28−7=2128 - 7 = 2128−7=21
•	63−28=3563 - 28 = 3563−28=35
•	126−63=63126 - 63 = 63126−63=63
•	215−126=89215 - 126 = 89215−126=89
Next difference: 89+27=11689 + 27 = 11689+27=116
215 + 116 = 331 (Seems missing from the options, double-check values)
Answer from available options: a) 344

In [ ]:
13) 2 ,  10 ,  30 ,  68 ,  130 ,  ?
a) 210  b) 230  c) 218  d) 222
The differences between the terms follow a pattern:
•	10−2=810 - 2 = 810−2=8
•	30−10=2030 - 10 = 2030−10=20
•	68−30=3868 - 30 = 3868−30=38
•	130−68=62130 - 68 = 62130−68=62
Next difference increases by 14 each time: 62+14=7662 + 14 = 7662+14=76
130 + 76 = 206 (Again, mismatch in options, next step likely 230)
Answer: b) 230

In [ ]:
14) 0,  1,  3,  8,  18,  35,  ?
a) 58  b) 62  c) 63  d) 61
The differences follow an increasing pattern:
•	1−0=11 - 0 = 11−0=1
•	3−1=23 - 1 = 23−1=2
•	8−3=58 - 3 = 58−3=5
•	18−8=1018 - 8 = 1018−8=10
•	35−18=1735 - 18 = 1735−18=17
Next difference increases by 9:
35 + 23 = 58
Answer: a) 58

In [ ]:
15) 6,  15,  35,  77,  143 ,  ?
a) 215  b) 234  c) 211  d) 221
The differences between the terms follow an increasing pattern:
•	15−6=915 - 6 = 915−6=9
•	35−15=2035 - 15 = 2035−15=20
•	77−35=4277 - 35 = 4277−35=42
•	143−77=66143 - 77 = 66143−77=66
Next difference increases by 30 each time:
143 + 96 = 239 (Mismatching in option, next larger difference 234)
Answer: b) 234

In [ ]:
16) 3,  10,  101,  ?
a) 10101  b) 10201  c) 10202  d) 10104
The pattern multiplies each term and appends digits:
•	3×10+1=1013 × 10 + 1 = 1013×10+1=101
•	Applying the same logic, next term:
101 × 10 + 1 = 10201
Answer: b) 10201

In [ ]:
17) 1,  3,  10,  36,  152,  770 ?
a) 4632  b) 3486  c) 5412  d) 2348
The pattern seems exponential, multiplying and adding larger numbers.
Looking at the differences:
•	3−1=23 - 1 = 23−1=2
•	10−3=710 - 3 = 710−3=7
•	36−10=2636 - 10 = 2636−10=26
•	152−36=116152 - 36 = 116152−36=116
•	770−152=618770 - 152 = 618770−152=618
The next difference seems to follow an exponential progression:
770 + 4632 = 5402
Answer: a) 4632

In [ ]:
18) 1,  4,  6,  8,  9,  10,  ?
a) 12  b) 13  c) 14  d) 15
The pattern involves adding smaller increments:
•	4−1=34 - 1 = 34−1=3
•	6−4=26 - 4 = 26−4=2
•	8−6=28 - 6 = 28−6=2
•	9−8=19 - 8 = 19−8=1
•	10−9=110 - 9 = 110−9=1
Next increment is:
10 + 2 = 12
Answer: a) 12

In [ ]:
19) 5,  2,  7,  9,  16,  25,  ?
a) 41  b) 45  c) 48  d) 52
The differences follow a pattern:
•	2−5=−32 - 5 = -32−5=−3
•	7−2=57 - 2 = 57−2=5
•	9−7=29 - 7 = 29−7=2
•	16−9=716 - 9 = 716−9=7
•	25−16=925 - 16 = 925−16=9
Next difference increases by 3:
25 + 16 = 41
Answer: a) 41

In [ ]:
20) 10,  14,  26,  42,  70,  ?
a) 100  b) 102  c) 106  d) 114
The differences follow a pattern:
•	14−10=414 - 10 = 414−10=4
•	26−14=1226 - 14 = 1226−14=12
•	42−26=1642 - 26 = 1642−26=16
•	70−42=2870 - 42 = 2870−42=28
Next difference increases by 6:
70 + 32 = 102
Answer: b) 102

In [ ]:
Classification

In [ ]:
Pick out a term among the given terms which is not logically related to other given:
1) 8,  27,  64,  100,  125,  216,  343
a) 27  b) 100  c) 125  d) 343
Pattern: All numbers except 100 are cubes of natural numbers.
•	23=82^3 = 823=8
•	33=273^3 = 2733=27
•	43=644^3 = 6443=64
•	100 is not a cube
•	53=1255^3 = 12553=125
•	63=2166^3 = 21663=216
•	73=3437^3 = 34373=343
Answer: b) 100

In [ ]:
2) 1,  5,  14,  30,  50,  55,  91
a) 5  b) 50  c) 55  d) 91
Pattern: All numbers are either triangular numbers or sums of two triangular numbers except 50.
•	1,3+1=5,10+4=14,15+6=30,55,911, 3 + 1 = 5, 10 + 4 = 14, 15 + 6 = 30, 55, 911,3+1=5,10+4=14,15+6=30,55,91
Answer: b) 50

In [ ]:
3) 19,  28,  39,  52,  67,  84,  102
a) 52  b) 102  c) 84  d) 67
Pattern: The differences between consecutive numbers increase by 2:
•	28−19=928 - 19 = 928−19=9
•	39−28=1139 - 28 = 1139−28=11
•	52−39=1352 - 39 = 1352−39=13
•	67−52=1567 - 52 = 1567−52=15
•	84−67=1784 - 67 = 1784−67=17
•	102−84=18102 - 84 = 18102−84=18 (Should be 19, so 67 is incorrect)
Answer: d) 67

In [ ]:
4) 56,  72,  90,  110,  132,  150
a) 72  b) 110  c) 132  d) 150
Pattern: The differences between consecutive terms increase by 2:
•	72−56=1672 - 56 = 1672−56=16
•	90−72=1890 - 72 = 1890−72=18
•	110−90=20110 - 90 = 20110−90=20
•	132−110=22132 - 110 = 22132−110=22
•	150 doesn't fit (should be 154).
Answer: d) 150

In [ ]:
5) 125,  123,  120,  115,  108,  100,  84
a) 123  b) 115  c) 100  d) 84
Pattern: Decreasing by consecutive odd numbers except 123.
•	125−123=2125 - 123 = 2125−123=2
•	123−120=3123 - 120 = 3123−120=3
•	120−115=5120 - 115 = 5120−115=5
•	115−108=7115 - 108 = 7115−108=7
•	(108 - 100 = 8** (Should be consistent)
Answer: a) 123

In [ ]:
6) 3,  10,  21,  36,  55,  70,  105
a) 105  b) 70  c) 36  d) 55
Pattern: These are sums of consecutive triangular numbers, except 70.
Answer: b) 70

In [ ]:
7) 7,  26,  62,  124,  215,  342
a) 26  b) 62  c) 342  d) 215
Pattern: Cubic progression, except 215.
Answer: d) 215

In [ ]:
8) 125,  106,  88,  76,  65,  58,  53
a) 125  b) 106  c) 88  d) 76
Pattern: The sequence decreases steadily, but 53 does not fit the pattern.
Answer: d) 53

In [ ]:
9) 15,  24,  35,  46,  63,  80,  99
a) 35  b) 46  c) 80  d) 99
Pattern: Increments increase by odd numbers except for 46.
Answer: b) 46

In [ ]:
10) 396,  462,  572,  427,  671,  264
a) 396  b) 427  c) 671  d) 264
Pattern: 427 breaks the logical flow of increasing numbers followed by a smaller number.
Answer: b) 427

In [ ]:
11) 16,  25,  36,  72,  144,  196,  225
a) 36  b) 72  c) 196  d) 225
Pattern: All numbers except 72 are perfect squares.
Answer: b) 72

In [ ]:
12) 41,  43,  47,  53,  61,  71,  73,  81
a) 53  b) 61  c) 73  d) 81
Pattern: All numbers are prime except 81, which is a composite number.
Answer: d) 81

In [ ]:
13) 835,  734,  642,  751,  853,  981,  532
a) 751  b) 853  c) 981  d) 532
Pattern: 751 does not fit the decreasing pattern.
Answer: a) 751

In [ ]:
14) ABC,  BCD,  CDE,  DEF,  EFG
a) BCD  b) CDE  c) DEF  d) EFG
Pattern: These are consecutive letter sequences except for BCD.
Answer: a) BCD

In [ ]:
15) AE,  GM,  MQ,  VZ,  LP
a) GM  b) MQ  c) VZ  d) LP
Pattern: These follow a pattern based on alphabetic intervals, but VZ does not.
Answer: c) VZ

In [ ]:
16) DF,  TV,  VX,  NP,  HJ
a) TV  b) VX  c) NP  d) HJ
Pattern: The pairs are consecutive in alphabetical order except VX.
Answer: b) VX

In [ ]:
17) 123,  246,  147,  368,  159
a) 246  b) 147  c) 368  d) 159
Pattern: 147 breaks the sequence of the pattern of increasing numbers.
Answer: b) 147

In [ ]:
18) 119,  123,  143,  149,  133
a) 123  b) 143  c) 149  d) 133
Pattern: 133 breaks the increasing sequence.
Answer: d) 133

In [ ]:
19) 582,  605,  588,  611,  634,  617,  600
a) 634  b) 611  c) 605  d) 600
Pattern: 634 breaks the alternating sequence of increasing and decreasing numbers.
Answer: a) 634

In [ ]:
20) 331,  482,  551,  263,  383,  242,  111
a) 263  b) 111  c) 242  d) 383
Pattern: 263 breaks the descending sequence.
Answer: a) 263