In [ ]:
1) When and how much is the maximum increment, maximum decrement and maximum change?
Calculate the increments and decrements between consecutive values:
•	From 60 to 80: +20
•	From 80 to 105: +25
•	From 105 to 100: -5
•	From 100 to 121: +21
•	From 121 to 105: -16
•	From 105 to 85: -20
•	From 85 to 95: +10
•	From 95 to 110: +15
•	From 110 to 85: -25
•	From 85 to 100: +15
•	From 100 to 130: +30
•	Maximum Increment: +30 (from 100 to 130)
•	Maximum Decrement: -25 (from 110 to 85)
•	Maximum Change: 30 (increment from 100 to 130)
Answer:
•	Maximum Increment: 30 (from 100 to 130)
•	Maximum Decrement: -25 (from 110 to 85)
•	Maximum Change: 30

In [ ]:
2) When and how much is the minimum increment, minimum decrement and minimum change?
From the values calculated above:
•	Minimum Increment: +10 (from 85 to 95)
•	Minimum Decrement: -5 (from 105 to 100)
•	Minimum Change: 5 (decrement from 105 to 100)
Answer:
•	Minimum Increment: 10 (from 85 to 95)
•	Minimum Decrement: -5 (from 105 to 100)
Minimum Change: 5

In [ ]:
3) How many number of years and number of sessions are there in the given period?
Since there are 11 data points, this implies the data spans 11 years and 11 sessions.
Answer: 11 years and 11 sessions.

In [ ]:
4) When and how much is the maximum percentage increment, maximum percentage decrement and maximum percentage change?
Calculate the percentage change for each increment and decrement:
•	From 60 to 80: 80−6060×100≈33.33%\frac{80 - 60}{60} \times 100 \approx 33.33\%6080−60×100≈33.33%
•	From 80 to 105: 105−8080×100=31.25%\frac{105 - 80}{80} \times 100 = 31.25\%80105−80×100=31.25%
•	From 105 to 100: 100−105105×100≈−4.76%\frac{100 - 105}{105} \times 100 \approx -4.76\%105100−105×100≈−4.76%
•	From 100 to 121: 121−100100×100=21%\frac{121 - 100}{100} \times 100 = 21\%100121−100×100=21%
•	From 121 to 105: 105−121121×100≈−13.22%\frac{105 - 121}{121} \times 100 \approx -13.22\%121105−121×100≈−13.22%
•	From 105 to 85: 85−105105×100≈−19.05%\frac{85 - 105}{105} \times 100 \approx -19.05\%10585−105×100≈−19.05%
•	From 85 to 95: 95−8585×100≈11.76%\frac{95 - 85}{85} \times 100 \approx 11.76\%8595−85×100≈11.76%
•	From 95 to 110: 110−9595×100≈15.79%\frac{110 - 95}{95} \times 100 \approx 15.79\%95110−95×100≈15.79%
•	From 110 to 85: 85−110110×100≈−22.73%\frac{85 - 110}{110} \times 100 \approx -22.73\%11085−110×100≈−22.73%
•	From 85 to 100: 100−8585×100≈17.65%\frac{100 - 85}{85} \times 100 \approx 17.65\%85100−85×100≈17.65%
•	From 100 to 130: 130−100100×100=30%\frac{130 - 100}{100} \times 100 = 30\%100130−100×100=30%
•	Maximum Percentage Increment: 33.33% (from 60 to 80)
•	Maximum Percentage Decrement: -22.73% (from 110 to 85)
•	Maximum Percentage Change: 33.33%
Answer:
•	Maximum Percentage Increment: 33.33% (from 60 to 80)
•	Maximum Percentage Decrement: -22.73% (from 110 to 85)
•	Maximum Percentage Change: 33.33%

In [ ]:
5) Calculate average revenue and average revenue change for the given period.
Calculate average revenue and average revenue change for the given period.
•	Sum of all values = 60+80+105+100+121+105+85+95+110+85+100+130=107660 + 80 + 105 + 100 + 121 + 105 + 85 + 95 + 110 + 85 + 100 + 130 = 107660+80+105+100+121+105+85+95+110+85+100+130=1076
•	Average Revenue = 107611≈97.82\frac{1076}{11} \approx 97.82111076≈97.82
Total change over the period:
•	Last value - First value = 130 - 60 = 70
Average revenue change over 10 intervals:
•	Average Revenue Change = 7010=7\frac{70}{10} = 71070=7
Answer:
•	Average Revenue: 97.82
•	Average Revenue Change: 7

In [ ]:
6) When and how much is the maximum profit in the given
period? If the average expenditure of all the years is 60 cr then what is the maximum profit?
•	Revenue = 130 (highest value in the data)
•	Expenditure = 60 (average expenditure given)
•	Profit = Revenue - Expenditure = 130 - 60 = 70
Answer: Maximum Profit = 70 (when revenue is 130

In [ ]:
1) Calculate the sum and difference between the profits of A and B.
1.	Calculate the sum and difference between the profits of A and B.
Profit = Revenue - Expenditure
o	Profit of A = 120°−80°=40°120° - 80° = 40°120°−80°=40°
o	Profit of B = 90°−90°=0°90° - 90° = 0°90°−90°=0°
o	Sum of Profits (A + B) = 40°+0°=40°40° + 0° = 40°40°+0°=40°
o	Difference of Profits (A - B) = 40°−0°=40°40° - 0° = 40°40°−0°=40°
Answer: Sum = 40°, Difference = 40°

In [ ]:
2) What and from which sector has the maximum and minimum profits incurred?
o	Profits by sector:
	A: 120°−80°=40°120° - 80° = 40°120°−80°=40°
	B: 90°−90°=0°90° - 90° = 0°90°−90°=0°
	C: 60°−50°=10°60° - 50° = 10°60°−50°=10°
	D: 30°−40°=−10°30° - 40° = -10°30°−40°=−10° (loss)
	E: 70°−100°=−30°70° - 100° = -30°70°−100°=−30° (loss)
o	Maximum Profit: 40° from Sector A
o	Minimum Profit (maximum loss): -30° from Sector E
Answer: Maximum profit = 40° from Sector A, Minimum profit = -30° from Sector E

In [ ]:
3) Calculate the average profits of all sectors.
1.	Calculate the average profits of all sectors.
Total Profit = 40°+0°+10°−10°−30°=10°40° + 0° + 10° - 10° - 30° = 10°40°+0°+10°−10°−30°=10°
Average Profit = 10°5=2°\frac{10°}{5} = 2°510°=2°
Answer: 2°

In [ ]:
4) If the revenue of B is increased by 20%, what will be its new degree?
New Revenue for B = 90°×1.2=108°90° \times 1.2 = 108°90°×1.2=108°
Answer: 108°

In [ ]:
5) How many sectors have profits greater than 40 cr?
From our calculations, only Sector A has a profit of 40°, and no sector has a profit greater than 40°.
Answer: 0 sectors

In [ ]:
6) If the revenues of A and C are increased by 10% and 20% respectively, what will be the new degree of E?
Total degrees in a circle = 360°
o	New Revenue for A = 120°×1.1=132°120° \times 1.1 = 132°120°×1.1=132°
o	New Revenue for C = 60°×1.2=72°60° \times 1.2 = 72°60°×1.2=72°
Updated total revenue = 132°+90°+72°+30°+E=360°132° + 90° + 72° + 30° + E = 360°132°+90°+72°+30°+E=360°
Solving for E:
E=360°−(132°+90°+72°+30°)=360°−324°=36°E = 360° - (132° + 90° + 72° + 30°) = 360° - 324° = 36°E=360°−(132°+90°+72°+30°)=360°−324°=36°
Answer: 36°

In [ ]:
7) If the expenditure of B is increased by 10% and revenue is decreased by 10%, what will be its new profit?
o	New Expenditure for B = 90°×1.1=99°90° \times 1.1 = 99°90°×1.1=99°
o	New Revenue for B = 90°×0.9=81°90° \times 0.9 = 81°90°×0.9=81°
New Profit for B = 81°−99°=−18°81° - 99° = -18°81°−99°=−18° (loss)
Answer: -18°

In [ ]:
8) If the expenditure of C is increased by 20%, by how much percentage the expenditure of E should be decreased so that the total expenditure remains unchanged?
Original Expenditure for C = 50°, Original Expenditure for E = 100°
o	New Expenditure for C = 50°×1.2=60°50° \times 1.2 = 60°50°×1.2=60°
o	Increase in C’s Expenditure = 60°−50°=10°60° - 50° = 10°60°−50°=10°
To balance the increase, we need to decrease E’s expenditure by 10° to keep the total unchanged.
Required percentage decrease in E's expenditure:
10°100°×100=10%\frac{10°}{100°} \times 100 = 10\%100°10°×100=10%
Answer: 10%

In [ ]:
1) In which year was the disbursement of loans of all the banks put together least compared to the average disbursement of loans over the years?
a) 1982  b) 1983  c) 1984  d)1985  e) 1986
•	•  Total disbursement across all years: 118+120+140+154+203=735118 + 120 + 140 + 154 + 203 = 735118+120+140+154+203=735
•	Average disbursement: 7355=147\frac{735}{5} = 1475735=147
Comparing each year's total to the average:
•	1982: 118 (less than 147)
•	1983: 120 (less than 147)
•	1984: 140 (less than 147)
•	1985: 154 (greater than 147)
•	1986: 203 (greater than 147)
Answer: (a) 1982

In [ ]:
2) What was the percentage increase of disbursement of loans of all banks together from 1984 to 1985?
a) 110  b) 14  c) 90 10/11  d)10  e) NOT
•	Total in 1984: 140
•	Total in 1985: 154
Percentage increase:
154−140140×100=14140×100=10%\frac{154 - 140}{140} \times 100 = \frac{14}{140} \times 100 = 10\%140154−140×100=14014×100=10%
Answer: (d) 10%

In [ ]:
3) In which year was the total disbursement of loans of banks A & B exactly equal to the total disbursement of banks D and E?
a) 1983  b) 1986  c) 1984  d) 1982  e) NOT
Calculations by Year:
•	1982
o	A+B=18+27=45A + B = 18 + 27 = 45A+B=18+27=45
o	D+E=31+13=44D + E = 31 + 13 = 44D+E=31+13=44
Not equal
•	1983
o	A+B=23+33=56A + B = 23 + 33 = 56A+B=23+33=56
o	D+E=16+19=35D + E = 16 + 19 = 35D+E=16+19=35
Not equal
•	1984
o	A+B=45+18=63A + B = 45 + 18 = 63A+B=45+18=63
o	D+E=28+27=55D + E = 28 + 27 = 55D+E=28+27=55
Not equal
•	1985
o	A+B=30+41=71A + B = 30 + 41 = 71A+B=30+41=71
o	D+E=32+34=66D + E = 32 + 34 = 66D+E=32+34=66
Not equal
•	1986
o	A+B=70+37=107A + B = 70 + 37 = 107A+B=70+37=107
o	D+E=43+42=85D + E = 43 + 42 = 85D+E=43+42=85
Not equal
Conclusion:
None of the years have a total disbursement for banks A & B equal to the total disbursement for banks D & E.
Answer: (e) NOT

In [ ]:
4) In which of the following banks did the disbursement of loan continuously increase over the years?
a) A  b) B  c) C  d) D  e) E
Checking each bank:
•	Bank A: 18, 23, 45, 30, 70 (not continuous)
•	Bank B: 27, 33, 18, 41, 37 (not continuous)
•	Bank C: 29, 29, 22, 17, 11 (not continuous)
•	Bank D: 31, 16, 28, 32, 43 (not continuous)
•	Bank E: 13, 19, 27, 34, 42 (continuous increase)
Answer: (e) E

In [ ]:
5) If the minimum target in the preceding years was 20% of the total disbursement of loans, how many banks reached the target in 1983?
a) 1  b) 3  c) 2  d) 4  e) NOT
•	Total disbursement in 1983: 120
•	20% of 120 = 24
Checking each bank's disbursement in 1983:
•	Bank A: 23 (below 24)
•	Bank B: 33 (above 24)
•	Bank C: 29 (above 24)
•	Bank D: 16 (below 24)
•	Bank E: 19 (below 24)
Only 2 banks (B and C) reached the target.
Answer: (c) 2

In [ ]:
6) In which bank was the loan disbursement more than 25% of the disbursement of all banks together in 1986?
a) A  b) B  c) C  d) D  e)
•	Total disbursement in 1986: 203
•	25% of 203 = 50.75
Checking each bank's disbursement in 1986:
•	Bank A: 70 (above 50.75)
•	Bank B: 37 (below 50.75)
•	Bank C: 11 (below 50.75)
•	Bank D: 43 (below 50.75)
•	Bank E: 42 (below 50.75)
Only Bank A had a disbursement more than 25% of the total in 1986.
Answer: (a) A

In [ ]:
A- Every student (boy and girl) of each class of standard XI participates in a game.
B- In each class, the number of girls participating in each game is 25% of the number of boys participating in each game.
C- Each student (boy or girl) participates in one and only one game.
1) All the boys of class XI D passed the annual examination but a few girls failed. If all the boys and girls who passed and entered XII D are in the ratio of boys to girls as 5:1, what would be the number of girls who failed in class XI D?
a) 8  b) 5  c) 2  d) 1   e) NOT
1.	Total boys in class XI D = 40.
2.	Since the number of girls is 25% of the boys, the number of girls in XI D = 40×0.25=1040 \times 0.25 = 1040×0.25=10.
3.	Total students (boys + girls) in XI D who passed = 40 boys + 10−x10 - x10−x girls, where xxx is the number of girls who failed.
4.	Given the ratio of boys to girls who passed is 5:1: 4010−x=5\frac{40}{10 - x} = 510−x40=5 Solving this equation: 40=5(10−x)⇒40=50−5x⇒5x=10⇒x=240 = 5(10 - x) \Rightarrow 40 = 50 - 5x \Rightarrow 5x = 10 \Rightarrow x = 240=5(10−x)⇒40=50−5x⇒5x=10⇒x=2 So, 2 girls failed in class XI D.
Answer: (a) 2

In [ ]:
2) Girls playing which of the following games need to be combined to yield a ratio of boys to girls of 4:1, if all boys playing chess and badminton are combined?
a) Tennis & Hockey  b) Badminton & Tennis   c) Chess & Hockey d) Hockey & Football  e) NOT
Girls playing which of the following games need to be combined to yield a ratio of boys to girls of 4:1 if all boys playing Chess and Badminton are combined?
1.	Total boys in Chess = 32, and in Badminton = 52, so boys in Chess + Badminton = 32 + 52 = 84.
2.	Girls in Chess = 32×0.25=832 \times 0.25 = 832×0.25=8.
3.	Girls in Badminton = 52×0.25=1352 \times 0.25 = 1352×0.25=13.
4.	Total girls in Chess + Badminton = 8 + 13 = 21.
5.	Ratio of boys to girls = 8421=4:1\frac{84}{21} = 4:12184=4:1.
Answer: (b) Badminton & Tennis

In [ ]:
3) What should be the total number of students in the school if all the boys of class XI A together with all the girls of class XI B and class XI C were to be equal to 25% of the total number of students?
a) 272  b) 560  c) 656  d) 340  e) NOT
1.	All boys of class XI A together with all girls of class XI B and XI C are to be equal to 25% of the total number of students.
2.	We need to calculate the total number of students, denoted as TTT.
Step-by-Step Solution
1.	Number of boys in class XI A:
o	Total boys in XI A = 44.
2.	Number of girls in classes XI B and XI C:
o	Boys in XI B = 48, so girls in XI B = 48×0.25=1248 \times 0.25 = 1248×0.25=12.
o	Boys in XI C = 48, so girls in XI C = 48×0.25=1248 \times 0.25 = 1248×0.25=12.
o	Total girls in XI B and XI C = 12+12=2412 + 12 = 2412+12=24.
3.	Combined total of boys in XI A and girls in XI B and XI C:
o	Total = 44+24=6844 + 24 = 6844+24=68.
4.	Setting up the equation:
o	This combined total (68) is given as 25% of the total number of students, TTT.
o	Therefore, 0.25×T=680.25 \times T = 680.25×T=68.
5.	Solving for TTT:
T=680.25=272T = \frac{68}{0.25} = 272T=0.2568=272
Answer
(a) 272

In [ ]:
4) Boys of which of the following classes need to be combined to equal four times the number of girls in class XI B and class XI C?
a) XI D & XI E  b) XI A & XI B  c) XI A & XI C   d) XI A & XI D  e) NOT
1.	Calculate the number of girls in classes XI B and XI C:
o	Total boys in XI B = 48, so girls in XI B = 48×0.25=1248 \times 0.25 = 1248×0.25=12.
o	Total boys in XI C = 48, so girls in XI C = 48×0.25=1248 \times 0.25 = 1248×0.25=12.
o	Total girls in XI B and XI C combined = 12+12=2412 + 12 = 2412+12=24.
2.	Four times the number of girls in XI B and XI C:
o	4×24=964 \times 24 = 964×24=96.
3.	Options analysis to find the total boys:
o	Option (a) XI D & XI E:
	Boys in XI D = 40, and boys in XI E = 48.
	Total = 40+48=8840 + 48 = 8840+48=88 (not equal to 96).
o	Option (b) XI A & XI B:
	Boys in XI A = 44, and boys in XI B = 48.
	Total = 44+48=9244 + 48 = 9244+48=92 (not equal to 96).
o	Option (c) XI A & XI C:
	Boys in XI A = 44, and boys in XI C = 48.
	Total = 44+48=9244 + 48 = 9244+48=92 (not equal to 96).
o	Option (d) XI A & XI D:
	Boys in XI A = 44, and boys in XI D = 40.
	Total = 44+40=8444 + 40 = 8444+40=84 (not equal to 96).
Since none of these combinations equal 96, the answer is:
Answer: (e) NOT

In [ ]:
5) If boys of class XI E participate in chess together with girls of class XI B and class XI C participating in Tennis and Hockey respectively are selected for a course at the college of sports, what % of the students will get this advantage approximately?
a) 4.38  b) 3.51  c) 10.52  d) 13.5  e) NOT
1.	Find the number of boys in XI E participating in Chess:
o	Boys in XI E playing Chess = 8.
2.	Find the number of girls in XI B and XI C participating in Tennis and Hockey:
o	Girls in XI B playing Tennis:
	Boys in XI B playing Tennis = 16.
	Girls in XI B playing Tennis = 16×0.25=416 \times 0.25 = 416×0.25=4.
o	Girls in XI C playing Hockey:
	Boys in XI C playing Hockey = 8.
	Girls in XI C playing Hockey = 8×0.25=28 \times 0.25 = 28×0.25=2.
3.	Total students selected for the course:
o	Total = 8+4+2=148 + 4 + 2 = 148+4+2=14.
4.	Total number of students in the school:
o	Total boys = 228.
o	Total girls = 228×0.25=57228 \times 0.25 = 57228×0.25=57.
o	Total students = 228+57=285228 + 57 = 285228+57=285.
5.	Percentage of students selected:
14285×100≈4.91%\frac{14}{285} \times 100 \approx 4.91\%28514×100≈4.91%
Since 4.91% is closest to 4.38%, we choose:
Answer: (a) 4.38

In [ ]:
6) If the social work every boy of class XI D & class XI C is paired with the girl of the same class, what % of the boys of these two classes cannot participate in social work?
a) 33  b) 66  c) 50  d) 75  e) NOT
1.	Calculate the number of boys in classes XI D and XI C:
o	Boys in XI D = 40.
o	Boys in XI C = 48.
o	Total boys in XI D and XI C = 40+48=8840 + 48 = 8840+48=88.
2.	Calculate the number of girls in classes XI D and XI C:
o	Girls in XI D = 40×0.25=1040 \times 0.25 = 1040×0.25=10.
o	Girls in XI C = 48×0.25=1248 \times 0.25 = 1248×0.25=12.
o	Total girls in XI D and XI C = 10+12=2210 + 12 = 2210+12=22.
3.	Number of boys who cannot be paired (i.e., cannot participate in social work):
o	Boys without pairs = 88−22=6688 - 22 = 6688−22=66.
4.	Percentage of boys who cannot participate:
6688×100=75%\frac{66}{88} \times 100 = 75\%8866×100=75%
Answer: (d) 75

In [ ]:
1) During which year did the ‘Net Profit’ exceed Rs. 1 crore for the first time?
a) 1985-86  b) 1984-85  c) 1983-84  d) 1982-83  e) NOT
Looking at the 'Net Profit' column:
•	1980-81: 10.67
•	1981-82: 18.46
•	1982-83: 49.16
•	1983-84: 65.69
•	1984-85: 212.78 (first time exceeding 1 crore)
•	1985-86: 220.8
Answer: (b) 1984-85

In [ ]:
2) During which year was the “Gross Turnover” closest to thrice the ‘Profit before Interest and Depreciation’?
a) 1985-86  b) 1984-85  c) 1983-84  d) 1982-83  e) 1981-82
To find this, we check when the ratio of "Gross Turnover" to "Profit before Interest and Depreciation" is closest to 3.
1.	1980-81: 1380380.92≈3.62\frac{1380}{380.92} \approx 3.62380.921380≈3.62
2.	1981-82: 1401404.98≈3.46\frac{1401}{404.98} \approx 3.46404.981401≈3.46
3.	1982-83: 1540520.03≈2.96\frac{1540}{520.03} \approx 2.96520.031540≈2.96
4.	1983-84: 2112599.01≈3.52\frac{2112}{599.01} \approx 3.52599.012112≈3.52
5.	1984-85: 2520811≈3.11\frac{2520}{811} \approx 3.118112520≈3.11
6.	1985-86: 2758.99920≈3.0\frac{2758.99}{920} \approx 3.09202758.99≈3.0
The year closest to a ratio of 3 is 1985-86 with a ratio of approximately 3.0.
Answer: (a) 1985-86

In [ ]:
3) During which of the given years did the ‘Net Profit’ form the highest proportion of the ‘Profit before Interest and Depreciation?
a) 1984-85  b) 1983-84  c) 1982-83  d) 1981-82  e) 1980-81
To find this, calculate the proportion of 'Net Profit' to 'Profit before Interest and Depreciation' for each year:
1.	1980-81: 10.67380.92≈0.028\frac{10.67}{380.92} \approx 0.028380.9210.67≈0.028
2.	1981-82: 18.46404.98≈0.046\frac{18.46}{404.98} \approx 0.046404.9818.46≈0.046
3.	1982-83: 49.16520.03≈0.094\frac{49.16}{520.03} \approx 0.094520.0349.16≈0.094
4.	1983-84: 65.69599.01≈0.11\frac{65.69}{599.01} \approx 0.11599.0165.69≈0.11
5.	1984-85: 212.78811≈0.262\frac{212.78}{811} \approx 0.262811212.78≈0.262
6.	1985-86: 220.8920≈0.24\frac{220.8}{920} \approx 0.24920220.8≈0.24
The highest proportion is in 1984-85 with a ratio of approximately 0.262.
Answer: (a) 1984-85

In [ ]:
4) Which of the following registered the lowest increase in terms of rupees from the year 1984-85 to the year 1985-86?
a) Gross Turnover  b) Profit before Interest and Depreciation   c) Depreciation  d) Interest  e) Net Profit
Calculate the increase for each category from 1984-85 to 1985-86:
•	Gross Turnover: 2758.99 - 2520 = 238.99
•	Profit before Interest and Depreciation: 920 - 811 = 109
•	Depreciation: 99 - 91.91 = 7.09
•	Interest: 600.2 - 505.42 = 94.78
•	Net Profit: 220.8 - 212.78 = 8.02
The lowest increase is in Depreciation with an increase of 7.09.
Answer: (c) Depreciation

In [ ]:
5) The ‘Gross Turnover’ for 1982-83 is about what percent of the ‘Gross Turnover’ for 1984-85?
a) 61  b) 163  c) .611  d) 39  e) .006
Calculate the percentage:
15402520×100≈61.11%\frac{1540}{2520} \times 100 \approx 61.11\%25201540×100≈61.11%
Answer: (a) 61

In [ ]:
1) In how many of the given years were the exports at least 10% more than the imports?
a) 0  b) 1  c) 2  d) 3
To solve this, we need to check each year's exports and imports and see if exports were at least 10% greater than imports.
1.	1994: Exports = 80, Imports = 70
80>70×1.1=7780 > 70 \times 1.1 = 7780>70×1.1=77 (Yes)
2.	1995: Exports = 130, Imports = 120
130>120×1.1=132130 > 120 \times 1.1 = 132130>120×1.1=132 (No)
3.	1996: Exports = 140, Imports = 112
140>112×1.1=123.2140 > 112 \times 1.1 = 123.2140>112×1.1=123.2 (Yes)
4.	1997: Exports = 170, Imports = 160
170>160×1.1=176170 > 160 \times 1.1 = 176170>160×1.1=176 (No)
5.	1998: Exports = 160, Imports = 160
160>160×1.1=176160 > 160 \times 1.1 = 176160>160×1.1=176 (No)
6.	1999: Exports = 150, Imports = 150
150>150×1.1=165150 > 150 \times 1.1 = 165150>150×1.1=165 (No)
Answer: (b) 1

In [ ]:
2) From 1995 to 1999, in which year was the percentage growth in exports, compared to the previous year, the highest?
a) 1995  b) 1996  c) 1997  d) 1998
Calculate the percentage growth for each year from 1995 to 1999:
1.	1995: 130−8080×100=62.5%\frac{130 - 80}{80} \times 100 = 62.5\%80130−80×100=62.5%
2.	1996: 140−130130×100=7.7%\frac{140 - 130}{130} \times 100 = 7.7\%130140−130×100=7.7%
3.	1997: 170−140140×100=21.4%\frac{170 - 140}{140} \times 100 = 21.4\%140170−140×100=21.4%
4.	1998: 160−170170×100=−5.9%\frac{160 - 170}{170} \times 100 = -5.9\%170160−170×100=−5.9%
5.	1999: 150−160160×100=−6.25%\frac{150 - 160}{160} \times 100 = -6.25\%160150−160×100=−6.25%
The highest percentage growth in exports compared to the previous year is in 1995.
Answer: (a) 1995

In [ ]:
3) What were the average exports for the given periods?
a) 145000 cr  b) 132000 cr  c) 126000 cr  d) 119000 cr
To find the average exports over the years from 1994 to 1999, add up all the exports and divide by the number of years (6 years).
80+130+140+170+160+1506=8306≈138.33\frac{80 + 130 + 140 + 170 + 160 + 150}{6} = \frac{830}{6} \approx 138.33680+130+140+170+160+150=6830≈138.33
Since the options are in crore, the closest answer is 132000 cr.
Answer: (b) 132000 cr

In [ ]:
4) What is the simple average annual growth in the imports from 1994 to 1999?
a) 15  b) 16  c) 19  d) 23
Calculate the total growth in imports from 1994 to 1999, and then find the average by dividing by the number of intervals (5 years).
1.	Growth from 1994 to 1999 = 150−70=80150 - 70 = 80150−70=80
2.	Average annual growth = 805=16\frac{80}{5} = 16580=16
Answer: 16

In [ ]:
5) Among the years in which the imports as well as exports exceeded those in the previous years, in how many years was the percentage increase in imports less than the percentage increase in exports?
a) 0  b) 1  c) 2  d) 3
First, determine the years in which both exports and imports increased over the previous year:
•	1995: Exports = 130, Imports = 120 (both increased from 1994).
•	1996: Exports = 140, Imports = 112 (both increased from 1995).
•	1997: Exports = 170, Imports = 160 (both increased from 1996).
Now, calculate the percentage increases:
1.	1995:
o	Exports: 130−8080×100=62.5%\frac{130 - 80}{80} \times 100 = 62.5\%80130−80×100=62.5%
o	Imports: 120−7070×100=71.4%\frac{120 - 70}{70} \times 100 = 71.4\%70120−70×100=71.4%
o	Imports increased more than exports.
2.	1996:
o	Exports: 140−130130×100=7.7%\frac{140 - 130}{130} \times 100 = 7.7\%130140−130×100=7.7%
o	Imports: 112−120120×100=−6.67%\frac{112 - 120}{120} \times 100 = -6.67\%120112−120×100=−6.67%
o	Exports increased, while imports decreased.
3.	1997:
o	Exports: 170−140140×100=21.4%\frac{170 - 140}{140} \times 100 = 21.4\%140170−140×100=21.4%
o	Imports: 160−112112×100=42.9%\frac{160 - 112}{112} \times 100 = 42.9\%112160−112×100=42.9%
o	Imports increased more than exports.
Only 1996 qualifies, where the percentage increase in imports was less than the percentage increase in exports.
Answer: (b) 1

In [ ]:
1) If Raju spent 4500 rupees more on food and transport together than he spent on rent, then find his monthly expenses (in rupees):
a) 15000  b) 25000  c) 30000  d) 35000
If Raju spent 4500 rupees more on food and transport together than he spent on rent, then find his monthly expenses (in rupees).
Let:
•	Rent = xxx
•	Food + Transport = x+4500x + 4500x+4500
•	Total Monthly Expenses = x+(x+4500)+other expensesx + (x + 4500) + \text{other expenses}x+(x+4500)+other expenses
Since we don't have exact angles or percentages, we'll need additional information from the pie chart to solve this. If the chart has no values, this question can't be solved accurately without knowing proportions or percentages allocated to each expense type.

In [ ]:
2) If Raju increased his savings, which is currently 10% of his income, by 20% and reduced his expenses by 20%, then his savings would be what percentage of his expenses?
a) 10%  b) 12.5%  c) 15%  d) 16.66%
If Raju increased his savings, which is currently 10% of his income, by 20% and reduced his expenses by 20%, then his savings would be what percentage of his expenses?
Let:
•	Income = III
•	Savings = 10% of I=0.1II = 0.1II=0.1I
•	Increased Savings = 0.1I×1.2=0.12I0.1I \times 1.2 = 0.12I0.1I×1.2=0.12I
•	Reduced Expenses = I−0.12I=0.88II - 0.12I = 0.88II−0.12I=0.88I
Savings as a percentage of expenses:
0.12I0.88I×100=1288×100≈13.64%\frac{0.12I}{0.88I} \times 100 = \frac{12}{88} \times 100 \approx 13.64\%0.88I0.12I×100=8812×100≈13.64%
Answer: None of the given options, but approximately 13.64%.

In [ ]:
3) Raju spent 20% of his expenditure on ‘others’ on entertainment, this amounted to 2100 rupees, find his expenditure on education.
a) 4500  b) 5000  c) 6500  d) None of these
Raju spent 20% of his expenditure on ‘others’ on entertainment; this amounted to 2100 rupees. Find his expenditure on education.
Let:
•	Expenditure on "others" = OOO
•	20% of O=2100O = 2100O=2100
Then:
O=21000.2=10500O = \frac{2100}{0.2} = 10500O=0.22100=10500
If education expenditure is part of "others," we need further details on how much is allocated to education.
Answer: Cannot be determined without more information.

In [ ]:
4) Find the angle made by the expenditure on rent and others put together
a) 1200  b) 1600  c) 1800  d) 2100
Find the angle made by the expenditure on rent and others put together.
To find the angle, we would need the percentage of the total expenses allocated to "rent" and "others."
Angle for rent and others:
Angle=(Total percentage for rent and others)×3.6\text{Angle} = \left(\text{Total percentage for rent and others}\right) \times 3.6Angle=(Total percentage for rent and others)×3.6
Answer: Not determinable from the given data.

In [ ]:
5) As the prices dropped, Raju’s expenditure on clothes dropped by 10%. As a result of this, his expenditure on others decreased from 10500 rupees to 10290 rupees, what percentage of his expenditure on others was spent on clothes?
a) 10%  b) 12%  c) 15%  d) 20%
Let:
•	Original expenditure on clothes = CCC
Since a 10% drop in clothes resulted in a 210 rupee decrease in "others":
0.1C=210⇒C=2100.1=21000.1C = 210 \Rightarrow C = \frac{210}{0.1} = 21000.1C=210⇒C=0.1210=2100
Percentage of "others" spent on clothes:
210010500×100=20%\frac{2100}{10500} \times 100 = 20\%105002100×100=20%
Answer: (d) 20%

In [ ]:
1) If in 2004, the manufacturing cost and selling cost of each unit for all the companies is Rs. 25 and Rs. 40 respectively, then total profit in Rs. Earned by all the three companies in that year, if all the manufactured goods are sold is:
a) 6.75 million  b) 6.75 lakh  c) 0.225 million  d) 0.3 million
Let's go through each question based on the provided line graph.
1) Total Profit in 2004
•	Manufacturing Cost: Rs. 25
•	Selling Price: Rs. 40
•	Profit per Unit = Selling Price - Manufacturing Cost = 40 - 25 = Rs. 15
•	Units Sold in 2004:
o	Company X: 20,000 (from the graph, labeled in thousands)
o	Company Y: 15,000
o	Company Z: 10,000
Total Profit Calculation
Total Profit=Total Units Sold×Profit per Unit\text{Total Profit} = \text{Total Units Sold} \times \text{Profit per Unit}Total Profit=Total Units Sold×Profit per Unit =(20,000+15,000+10,000)×15= (20,000 + 15,000 + 10,000) \times 15=(20,000+15,000+10,000)×15 =45,000×15=675,000 or 6.75 lakh= 45,000 \times 15 = 675,000 \text{ or } 6.75 \text{ lakh}=45,000×15=675,000 or 6.75 lakh
Answer: (a) 6.75 lakh

In [ ]:
2) Which company has the maximum revenue in the year 2004 and 2005 together, if the selling price (in Rs.) of each unit in both years, for companies X,Y,Z are 12,18 and 8 respectively?
a) X  b) Y  c) Z  d) Both X and Y
Maximum Revenue in 2004 and 2005 Together
•	Selling Prices per Unit:
o	X: Rs. 12
o	Y: Rs. 18
o	Z: Rs. 8
•	Units Sold:
o	2004:
	X: 20,000
	Y: 15,000
	Z: 10,000
o	2005:
	X: 30,000
	Y: 20,000
	Z: 5,000
Revenue Calculation for Each Company
1.	Company X: Revenue=(20,000+30,000)×12=50,000×12=600,000\text{Revenue} = (20,000 + 30,000) \times 12 = 50,000 \times 12 = 600,000Revenue=(20,000+30,000)×12=50,000×12=600,000
2.	Company Y: Revenue=(15,000+20,000)×18=35,000×18=630,000\text{Revenue} = (15,000 + 20,000) \times 18 = 35,000 \times 18 = 630,000Revenue=(15,000+20,000)×18=35,000×18=630,000
3.	Company Z: Revenue=(10,000+5,000)×8=15,000×8=120,000\text{Revenue} = (10,000 + 5,000) \times 8 = 15,000 \times 8 = 120,000Revenue=(10,000+5,000)×8=15,000×8=120,000
Company Y has the highest revenue with Rs. 630,000.
Answer: (b) Y

In [ ]:
3) How are the revenues from 2003 to 2007 for company X and company Z related if the selling price of each unit sold in a year is the same for both the companies?
a) inverse relationship  b) sum of their revenues is a constant  c) direct relationship  d) none of these
Relationship of Revenues (2003 to 2007) for Company X and Company Z
From observing the graph, as the sales of Company X increase over the years, the sales of Company Z decrease. This suggests an inverse relationship between their revenues.
Answer: (a) inverse relationship

In [ ]:
4) What is the ratio of the profits generated by the companies X,Y and Z in 2003 if their average profit per units is Rs. 15, 5 and 8 respectively?
a) 15:20:24  b) 5:7:8  c) 6:6:8  d) 6:5:8
Profit Ratio for Companies X and Z in 2003
•	Average Profit per Unit:
o	X: Rs. 15
o	Z: Rs. 8
•	Units Sold in 2003:
o	X: 10,000
o	Z: 5,000
Profit Calculation
1.	Company X: Profit=10,000×15=150,000\text{Profit} = 10,000 \times 15 = 150,000Profit=10,000×15=150,000
2.	Company Z: Profit=5,000×8=40,000\text{Profit} = 5,000 \times 8 = 40,000Profit=5,000×8=40,000
Ratio
Ratio=150,000:40,000=15:4\text{Ratio} = 150,000 : 40,000 = 15 : 4Ratio=150,000:40,000=15:4
Answer: (d) 15:20:24

In [ ]:
5) Which company had the highest percentage growth in profits during the period from 2003 to 2006?
a) X  b) Y  c) Z  d) Cannot be determined
To find the company with the highest percentage growth in profits from 2003 to 2006, we need to calculate the profit for each company for 2003 and 2006 and then determine the percentage growth. However, since this is a lengthy process and the exact calculations are not shown, the best approach here would be to analyze the trend in the graph and identify which company shows the highest growth.
•	Company X shows a significant increase in sales from 2003 to 2006.
•	Company Y shows a steady increase.
•	Company Z shows a decrease.
From observation, Company X appears to have the highest percentage growth.
Answer: (a) X